body {
  overflow-x: hidden;

  a {
    text-decoration: none;
  }
  .box-wrapper {
    position: absolute;
    left: -100%;
    width: 100%;
    animation: slide 0.5s forwards;
  }

  .box {
    background-color: #f9f9f9;
    margin: auto;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    .header {
      border-bottom: 1px solid #ccc;
      background-color: #f1f1f1;
      text-transform: capitalize;
    }
    .footer {
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }
    .body {
      text-align: left;
      margin-left: 10%;
    }
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
