<div class="pages">
  {{#if showPrev}}
    {{#link-to "posts" (query-params start=prev) class="button"}} {{"<"}} {{/link-to}}
  {{/if}}

  {{#each pages  as |page|}}
    {{#if page.show}}
      {{#link-to "posts" (query-params start=page.start) class="page" }} {{page.index}} {{/link-to}}
    {{/if}}
  {{/each}}

  {{#if showNext}}
    {{#link-to "posts" (query-params start=next)  class="button" }} {{">"}} {{/link-to}}
  {{/if}}
</div>